:root {
  --offwhite: rgba(242, 242, 242, 1);
  --blue: rgba(159, 198, 201, 1);
  --offgray: rgba(156, 173, 173, 1);
}
body{
  margin:0
}
.main-container{
  margin:0;
  background-color: var(--offwhite);
  height: 100vh;

}

.rows {
  display: flex;
  justify-content: space-around;
  margin: 0;
  /* height: 6.25vh; */
  border: 0px solid black;
}

.cols{
  /* display:flex; */
  display:flex;
  justify-content: center;
  font-size: .3em;
  color: var(--offgray);
  align-items: center;
  width:100%;
  border: 1px dashed var(--blue);
}
